---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";
import LinkButton from "./LinkButton.astro";
import IconRss from "@/assets/icons/IconRss.svg";

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class="border-border flex flex-col items-center justify-between border-t py-6 sm:flex-row-reverse sm:py-4"
  >
    <div class="flex items-center gap-1">
      <Socials />
      <a
        target="_blank"
        href={`${import.meta.env.BASE_URL.replace(/\/?$/, "/")}rss.xml`}
        class="p-2 hover:rotate-6 sm:p-1"
        aria-label="RSS Feed"
        title="RSS Feed"
      >
        <IconRss
          width={20}
          height={20}
          class="stroke-accent inline-block scale-125 stroke-3 rtl:-rotate-90"
        />
        <span class="sr-only">RSS Feed</span>
      </a>
    </div>
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row">
      <span>
        Built with
        <LinkButton
          href="https://github.com/satnaing/astro-paper"
          class="underline decoration-dashed underline-offset-4"
        >
          AstroPaper
        </LinkButton>
        by
        <LinkButton
          href="https://github.com/satnaing"
          class="underline decoration-dashed underline-offset-4"
        >
          Sat Naing
        </LinkButton>
      </span>
    </div>
  </div>
</footer>
